main {
    align-items: center;
    border-style: solid;
    border-color: #ff7790;
}

main .login .name {
    display: flex;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

main .login .name input {
    width: 45%;
    margin: 0px
}